In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [15]:
df1 = pd.read_csv('1.csv',encoding='utf-8')

In [24]:
df1grouped = df1.groupby(['Dávka','Veková skupina','Čas publikovania']).sum('Vážený počet registrácii')
#df1grouped.drop('Počet okresov registrácie')
df1grouped.drop('Počet okresov registrácie',axis=1,inplace=True)
df1grouped.drop_duplicates()
df1grouped.head()

                                          Vážený počet registrácii
Dávka Veková skupina Čas publikovania
1     00-17          2021-05-18 16:04:22              15804.000000
      18-19          2021-05-18 16:04:22              12683.000000
      20-24          2021-05-18 16:04:22              32424.600000
      25-29          2021-05-18 16:04:22              37270.333333
      30-34          2021-05-18 16:04:22              44568.266667

In [27]:
dflist = []
for num in range(197):
    dfname = f'df{num+1}'
    dfname = pd.read_csv(f'{num+1}.csv',encoding='utf-8')
    dfgrouped = dfname.groupby(['Dávka','Veková skupina','Čas publikovania']).sum('Vážený počet registrácii')
    dfgrouped.drop('Počet okresov registrácie',axis=1,inplace=True)
    #dfgrouped.drop_duplicates()
    dflist.append(dfgrouped)
result = pd.concat(dflist)
result.drop_duplicates()
result.to_csv('result.csv',encoding='utf-8')

In [29]:
result.drop_duplicates()
result.to_csv('result1.csv',encoding='utf-8')